/* ============================= */
/* CONTENEDOR PRINCIPAL */
/* ============================= */

.wawawa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

/* ============================= */
/* CARTA */
/* ============================= */

.envelope {
  max-width: 500px;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* ============================= */
/* SAPOS (VIDEOS) */
/* ============================= */

.gif-left,
.gif-right {
  position: relative; /* IMPORTANTE */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: none;
}

.gif-left video,
.gif-right video {
  width: 220px;
  max-width: 90%;
}

/* ============================= */
/* TABLET */
/* ============================= */

@media (max-width: 768px) {

  .gif-left video,
  .gif-right video {
    width: 180px;
  }

}

/* ============================= */
/* CELULAR */
/* ============================= */

@media (max-width: 480px) {

  .wawawa-container {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
  }

  .envelope {
    max-width: 95vw;
    min-height: 280px;
    margin: 0 auto;
  }

  .gif-left,
  .gif-right {
    margin-top: 20px;
  }

  .gif-left video,
  .gif-right video {
    width: 150px;
  }

}
